.menuLateral {
  width: 90%;
  margin: 0 auto 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;

  @media (min-width: 768px) {
    width: 180px;
    padding: 0;
    border: 0;
    margin: 0 auto;
  }
  @media (min-width: 1024px) {
    margin: 0;
  }

  ul {
    display: flex;
    justify-content: space-around;

    @media (min-width: 768px) {
      flex-direction: column;
    } 

    li {
      padding: 5px 0;
      position: relative;

      a {
        opacity: .8;

        &.active {
          opacity: 1;
          font-weight: 700;

          @media (min-width: 768px) {
            font-weight: normal;

            &:after {
              content: '';
              border: solid black;
              border-width: 0 2px 2px 0;
              display: inline-block;
              padding: 4px;
              transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
              position: relative;
              right: -5px;
            }
          }
        }
      }
    }
  }
}