@import 'variables.scss';

* {
  color: $primary-color;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: $primary-font;
}

body {
  background: $white-color;
}

a {
  cursor: pointer;
}

input {
  width: 100%;
  padding: 10px 0;
  text-indent: 10px;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  > div {
    padding: 0 15px;

    &.content {
      padding: 0;
      width: 100%;
      display: flex;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .message {
    margin-bottom: 20px;

    &.alert {
      color: red;
    }
  }
}

