ul {
  &.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    li {
      width: 25%;
      margin-bottom: 25px;

      p {
        font-size: 14px;
      }

      strong {
        font-weight: 600;
      }
    }
  }
}