@import '../../assets/css/variables.scss';

.btn {
  min-width: 64px;
  color: $white-color;
  font-size: 0.875rem;
  text-transform: uppercase;
  background-color: $light-blue-color;
  border: 0;
  cursor: pointer;

  &:disabled {
    opacity: .5;
  }
}
