@import '../../assets/css/variables.scss';

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    margin-bottom: 2px;
    font-size: 14px;
  }

  p.error {
    margin-top: 5px;
    color: $message-error;
    font-size: 11px;
  }
}
